.contactform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 280px;

    @media screen and (min-width: 440px) {
        width: 400px;
    }

    @media screen and (min-width: 1440px) {
        width: 555px;
    }

}

.form__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(23 / 18);
    color: #487996;
    text-align: left;
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
         font-size: 24px;
        line-height: calc(30 / 24);
        margin-bottom: 35px;
        text-align: center;
    }
    @include desktop{
        text-align: left;
         font-size: 36px;
        line-height: calc(45 / 36);
        margin-bottom: 44px;
    }
}



.form__list {
    display: block;
    text-align: left;
    margin-bottom: 40px;

    @media screen and (min-width: 1440px) {
        margin-bottom: 24px;
    }
}

.form__item:not(:last-child) {
    margin-bottom: 44px;
}

.form__field {
    position: relative;
    display: block;
}

.form__label {
    position: absolute;
    bottom: 4px;
    left: 0;
    transform-origin: left center;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-transform: capitalize;
    color: #2B2B2B;
    transition: transform 400ms ease-in-out;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    color: #2B2B2B;
    transform: translateY(-20px) scale(0.8);
}

.form__input {
    display: flex;
    width: 100%;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-transform: capitalize;
    color: #2B2B2B;
    outline: transparent;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #487996;
    transition: border-color 400ms ease-in-out;
}

.form__input:focus,
.form__input:not(:placeholder-shown) {
    border-color: #487996;
}

.form__input::placeholder {
    transition: opacity 400ms ease-in-out;
    opacity: 0;
}

.form__input:focus::placeholder {
    opacity: 1;
}

.form__textarea__label {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 /16);
    text-transform: capitalize;
    color: #2B2B2B;
}

.form__textarea {
    display: flex;
    margin-top: 4px;
    padding: 22px 20px;
    width: 100%;
    height: 199px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 /16);
    resize: none;
    outline: none;
    border: none;
    border: 1px solid #487996;
    border-radius: 50px 0px;
}

.form__textarea__field {
    display: block;
    position: relative;
}

.form__textarea__icon {
    display: block;
    position: absolute;
    right: 21px;
    bottom: 23px;
    fill: #CDCDCD;
    transition: fill 400ms ease-in-out;
}

.form__textarea__description {
    display: flex;
    justify-content: start;
    margin-top: 4px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 /16);
    color: #CDCDCD;
}

.uploadfile {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.uploadfile__label:hover .form__textarea__icon,
.uploadfile__label:focus .form__textarea__icon {
    cursor: pointer;
    fill: #487996;
}

.select {
    display: block;
    position: relative;
}

.new-select {
    position: relative;
    border-bottom: 1px solid #487996;
    padding: 4px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #2B2B2B;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 30px;
    left: 0;
    border-bottom: 1px solid #487996;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #2B2B2B;
    background: #fff;
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 4px 8px;
}

.new-select__item span:hover {
    background: rgba(72, 121, 150, 0.5);
    color: #FFFFFF;
}

.new-select:after {
    content: '';
    display: block;
    width: 18px;
    height: 13px;
    position: absolute;
    right: 0;
    bottom: 4px;
    background: url('../images/dw.svg') no-repeat right;
    transition: all 400ms ease-in-out;
    transform: rotate(0deg);
}

.new-select.on:after {
    transform: rotate(180deg);
}
