:root {
  --main-text-color: #2b2b2b;
  --second-title-color: #487996;
  --section-bgr-color: #e5e5e5;
  --menu-lang-color: #bdbdbd;
  --footer-bgr-color: #f5f5fa;
  --transition-function: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --z-index-decor: 50;
}
