<section class="section hero-order">
  <div class="container hero-order__container">
    <h2 class="hero-order__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <div class="hero-order__box">
      <div class="hero-order__image"></div>
      
        <div class="hero-order__text-box">
          <p class="hero-order__text">
            На цій сторінці ви можете зробити замовлення заповнивши <span class="order-wrap-text">форму і ми
            зв'яжемося з вами.</span> 
          </p>
          <p class="hero-order__text">
            Наші фахівці допоможуть підібрати оптимальні для вас <span class="order-wrap-text">параметри і
              дадуть відповідь на всі ваші запитання.</span>
          </p>

          <ul class="hero-order__gallery-list">
            <li class="hero-order__gallery-item border-radius1">
              <picture>
                <source
                  srcset="
                    ./images/take-order/order1-1x.jpeg 1x,
                    ./images/take-order/order1-2x.jpeg 2x
                  "
                  media="(min-width: 1440px)" />
                <img src="./images/take-order/order1-1x.jpeg" alt="order1"
              /></picture>
            </li>
            <li class="hero-order__gallery-item border-radius2">
              <picture>
                <source
                  srcset="
                    ./images/take-order/order2-1x.jpeg 1x,
                    ./images/take-order/order2-2x.jpeg 2x
                  "
                  media="(min-width: 1440px)" />
                <img src="./images/take-order/order2-1x.jpeg" alt="order2"
              /></picture>
            </li>
            <li class="hero-order__gallery-item border-radius3">
              <picture>
                <source
                  srcset="
                    ./images/take-order/order3-1x.jpeg 1x,
                    ./images/take-order/order3-2x.jpeg 2x
                  "
                  media="(min-width: 1440px)" />
                <img src="./images/take-order/order3-1x.jpeg" alt="order3"
              /></picture>
            </li>
          </ul>
        </div>
    </div>
  </div>
</section>
