.connect-wrap__container {
   @media screen and(max-width:767px) {
    width: 320px;

   }

   @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    
    padding-left: 149px;
    padding-right: 149px;
   }
}

.order-form {
    @include desktop {
        padding-top: 0;
        padding-bottom: 80px;
    }
}

.order-form__title {
    
    font-size: 18px;
    line-height: 1.28;
    margin-bottom: 39.5px;

    @include tablet {
        text-align: center;
        margin-bottom: 44px;
    }
    @include desktop {   
    font-size: 36px;
    line-height: 1.25;
    text-align: start;
    
    }
}

.order-form__field {
    
  
   @include tablet {
     max-width: 400px;
    margin-left: auto;
    margin-right: auto;
   }
   
   @include desktop {
    max-width: 555px;
    
    
   }
}

.order-form__label {
    position: relative;
    display: block;
}

.order-form__span {
    position: absolute;
    bottom: 4px;
    left: 0;
    transform-origin: left center;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-transform: capitalize;
    color: #2B2B2B;
    transition: transform 400ms ease-in-out;

}

.order-form__input:focus+.order-form__span,
.order-form__input:not(:placeholder-shown)+.order-form__span {
    color: #2B2B2B;
    transform: translateY(-20px) scale(0.8);
    padding-bottom: 8px;
}

.order-form__input {
    
    display: flex;
    width: 100%;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-transform: capitalize;
    color: #2B2B2B;
    outline: transparent;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #487996;
    transition: border-color 400ms ease-in-out;
    margin-bottom: 39.5px;
    padding-bottom: 15px;
    @include tablet {
        margin-bottom: 44px;
    }
}

.order-form__input:focus,
.order-form__input:not(:placeholder-shown){
    border-color: #487996;
}

.order-form__input::placeholder {
    transition: opacity 400ms ease-in-out;
    opacity: 0;
}

.order-form__input:focus::placeholder {
    opacity: 1;
    
}

.order-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
}

.order-form__textarea {
 
    width: 280px;
    height: 199px;
    padding-top: 22px;
    padding-left: 20px;
    margin-top: 4px;
    color: #CDCDCD;
    border: 1px solid #487996;
    border-radius: 50px 0px;
    resize: none;
    outline: none;
    @include tablet {
        width: 400px;
        
    }

    @include desktop {
        width: 555px;
    }
    
}

.textarea {
    position: relative;
}

.order-form__icon {
    position: absolute;
    bottom: 27px;
    right: 28px;
    cursor: pointer;
    fill: #cdcdcd;
    @include tablet {
        bottom: 18px;
        right: 18.1px;
        
    }
    @include desktop {
        right: 61px;
        
    }
}



.order-form__textarea::placeholder {
    
    color: #cdcdcd;
}

.order-form__textarea-text {
    margin-bottom: 4px;
}

.order-form__bottom-text {
    
    padding-right:70px;
    margin-top: 4px;
    margin-bottom: 40px;

    color: #CDCDCD;
    @include tablet {
        padding-right: 0;
    }
}

.order-form__button {
    @include tablet {
        width: 170px;
        margin-left: auto;
    }
}

.order-form__field {
    margin-bottom: 60px;
    @include desktop {
        margin-bottom: 0;
    }
}

.file-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.file-upload__label:hover .order-form__icon {

    cursor: pointer;
    fill: #487996;
}


    
// @media screen and (max-width:767px) {
    

// .order-form__figure-one {
//     position: absolute;
//     width: 57.65px;
//     height: 73.65px;
//     left: 0;
//     top: 678.93px;

//     background: #FFFFFF;


//     box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
//     border-radius: 0px 0px 25px 0px;
//     z-index: -1;
// }

// .order-form__figure-two {
//     position: absolute;
//     width: 73.65px;
//     height: 73.65px;
//     right: -20px;
//     top: 615.53px;

//     background: #FFFFFF;


//     box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
//     border-radius: 72px;
//     z-index: -1;
// }

// .order-form__figure-three {
//     position: absolute;
// width: 73.65px;
// height: 73.65px;
// left: -15px;
// top: 1095.83px;

// background: #FFFFFF;


// box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
// border-radius: 0px 0px 0px 35px;
// z-index: -1;
// }

// .order-form__figure-four {
// position: absolute;
// top: 1052px;
// right: -30px;
// width: 73.65px;
// height: 73.65px;
// background: #ffffff;
// box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
// border-radius: 25px 0px;
// transform: rotate(90deg);
// z-index: -1;
// }
   
// .order-form__figure-five {
// position: absolute;
// width: 73.65px;
// height: 73.65px;
// right: -35px;
// top: 1399.84px;

// background: #FFFFFF;


// box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
// border-radius: 25px 0px;
// z-index: -1;
// }
// }
// Connect-info



.connect-info {
    // position: relative;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-bottom: 60px;

    @include tablet {
        flex-direction: row; 
    }
    @include desktop {
        flex-direction: column;
        gap: 68px;
    }
    }

.connect-info__tel,
.connect-info__mail,
.connect-info__time {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include desktop {
        gap: 18px;
    }
}

.connect-info__title {
    font-size: 18px;
    @include desktop {
        font-size: 36px;
    }
}

.connect-info__link,
.connect-info__text {
    font-weight: 500;
}

.connect-info__time {
    @include tablet {
        text-align: end;
        margin-left: auto;
    }
    @include desktop {
        text-align: start;
        margin: 0;
    }
}

br {
    @include desktop {
        display: none;
    }
}

