<div class="mob-menu is-hidden">
  <header class="header container">
    <a href="" class="logo"
      ><picture>
        <source
          srcset="./images/header/logo.png 1x, ./images/header/logo-2x.png 2x"
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./images/header/logo-tablet.png    1x,
            ./images/header/logo-tablet-2x.png 2x
          "
          media="(min-width:768px)"
          width="125"
        />
        <source
          srcset="
            ./images/header/logo-mob.png    1x,
            ./images/header/logo-mob-2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img src="./images/header/logo.png" alt="Site Logo" /> </picture
    ></a>
    <button type="button" class="mobile__open menu-close">
      <svg class="mobile__icon--open" width="24" height="24">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <button type="button" class="phone">
      <svg class="phone__icon" width="18" height="18">
        <use href="./images/icons.svg#phone-icon"></use>
      </svg>
    </button>
    <div class="language">
      <div class="language__select language__link">UKR</div>
      <div class="language__variations">
        <a href="#" class="language__link">ENG</a
        ><a href="#" class="language__link">POL</a>
      </div>
    </div>
    <ul class="phone__list">
      <li class="phone__item">
        <svg class="phone__icon phone__icon__hidden" width="11" height="11">
          <use href="./images/icons.svg#phone-icon"></use>
        </svg>
        <a href="tel:+380936432288" class="phone__link">+38 (093) 643 22 88</a>
      </li>
      <li class="phone__item">
        <svg class="phone__icon phone__icon__hidden" width="11" height="11">
          <use href="./images/icons.svg#phone-icon"></use>
        </svg>
        <a href="tel:+380503454423" class="phone__link">+38 (050) 345 44 23</a>
      </li>
    </ul>
  </header>
  <div class="menu-container container">
    <div class="box">
      <ul class="menu_list">
        <li class="menu_item">
          <a class="link main-link" href="./index.html"
            ><span class="main-text-acent">ГОЛОВНА</span>
          </a>
        </li>

        <li class="menu_item">
          <a class="link main-link" href="./printing.html">ПОСЛУГИ</a>
        </li>

        <li class="menu_item">
          <a class="main-link" href="./modeling.html">
            <span class="test-bifor">3D Моделювання</span>
          </a>
        </li>

        <li class="menu_item">
          <a class="link main-link" href="./scanning.html">
            <span class="test-bifor">3D Сканування </span></a
          >
        </li>

        <li class="menu_item">
          <a class="link main-link" href="./printing.html" class="link">
            <span class="test-bifor">3D Друк</span></a
          >
        </li>

        <li class="menu_item">
          <a class="link main-link" href="./take-order.html">ЗАМОВИТИ</a>
        </li>

        <li class="menu_item">
          <a class="link main-link" href="./contacts.html">КОНТАКТИ</a>
        </li>
      </ul>
    </div>
  </div>
</div>
