<section class="contacts-hero section">
  <div class="contacts-hero__container container">
    <h2 class="contacts-hero__title title">Контакти</h2>
    <div class="contacts-hero__video-content">
      <iframe
        class="contacts-hero__video"
        src="https://www.youtube.com/embed/fNcBXWirC8s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>

      <ul class="contacts-list">
        <li class="contacts-list__item">
          <p class="contacts-list__text text">
            Людина уперше побачивши процес
            <span class="part-text text">3D</span> друку може легко захопитися
            спостереженням за цим процесом не на десяток хвилин.
          </p>
        </li>

        <li class="contacts-list__item">
          <p class="contacts-list__text text">
            Наша команда створює
            <span class="part-text text">timelapse</span> відео що б ви могли
            краще ознайомитися з технологією
            <span class="part-text text">3D</span> друку і просто помилуватися
            красою цього процесу.
          </p>
        </li>

        <li class="contacts-list__item">
          <p class="contacts-list__text text">Приємного перегляду!</p>
          <span class="contacts-list__icon">
            <img class="contacts-list__img" src="/src/images/contacts-img/emoji.jpg" alt="emoji">
          </span>
        </li>
        <!-- <div class="contacts-list__figure"></div> -->
      </ul>
    </div>
  </div>
</section>
