.modeling-hero {
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
.modeling-hero__title {
  margin-bottom: 16px;
  @include desktop {
    margin-bottom: 24px;
    margin-left: 117px;
  }
}
.modeling-hero__text {
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    width: 504px;
  }
  @media screen and (min-width: 1440px) {
    width: 515px;
    min-height: 138px;
    margin-top: 24px;
    margin-right: 72px;
  }
}
.modeling-hero__wrap {
  position: relative;
  @media screen and (min-width: 1440px) {
    display: flex;
    margin-left: 117px;
  }
}
.modeling-hero__figure {
  position: absolute;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}
.modeling-hero__figure-one {
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 35px 0px;
  left: -29px;
  top: 150px;
  @media screen and (min-width: 768px) {
    height: 71px;
    left: 0px;
    top: 57px;
  }
  @media screen and (min-width: 1440px) {
    width: 82px;
    height: 78px;
    border-radius: 0px 0px 72px 0px;
    left: -117px;
    top: -56px;
  }
}
.modeling-hero__figure-two {
  width: 74px;
  height: 74px;
  border-radius: 72px;
  right: -74px;
  top: 0px;
  @media screen and (min-width: 768px) {
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
    right: -53px;
    top: -68px;
  }
  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 137px;
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
    right: 0px;
    top: -80px;
  }
}
