.scan-btn {
  padding-top: 40px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.scan-btn__button {
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .scan-btn__container {
    position: relative;
  }

  .scan-btn__figure {
    position: absolute;
    right: -37px;
    top: -16px;
    width: 74px;
    height: 74px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
  }
}
