.scan-process {
  padding-top: 40px;
  @media screen and (min-width: 1440px) {
    padding-top: 22px;
  }
}

.scan-process__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--second-title-color);
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.25;
    margin-left: 28px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    margin-left: 117px;
  }
}

.scan-process__list {
  position: relative;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.scan-process__item {
  height: 182px;
  width: calc((100% - 20px) / 2);
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  position: relative;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    height: 210px;
    width: calc((100% - 96px) / 4);
    &:nth-child(-n + 3) {
      margin-right: 32px;
    }
  }
  @media screen and (min-width: 1440px) {
    height: 381px;
  }
}

.scan-process__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--second-title-color);
  margin-top: 115px;
  padding: 0 19px;
  @media screen and (min-width: 768px) {
    margin-top: 132px;
    padding: 0 28px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 295px;
    padding: 0 78px;
  }
}

.scan-process__item::before {
  content: '';
  position: absolute;
  width: 92px;
  height: 82px;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 768px) {
    width: 107px;
    height: 94px;
    top: 17px;
  }
  @media screen and (min-width: 1440px) {
    width: 240px;
    height: 240px;
    top: 50px;
  }
}

.scan-process__item:nth-of-type(1)::before {
  content: '';
  background-image: url('/src/images/scanning/scanning-process1-mob-1x.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media screen and (min-width: 768px) {
    background-image: url('/src/images/scanning/scanning-process1-tab-1x.png');
  }
  @media screen and (min-width: 1440px) {
    background-image: url('/src/images/scanning/scanning-process1-desk-1x.png');
  }
}

.scan-process__item:nth-of-type(2)::before {
  content: '';
  background-image: url('/src/images/scanning/scanning-process2-mob-1x.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media screen and (min-width: 768px) {
    background-image: url('/src/images/scanning/scanning-process2-tab-1x.png');
  }
  @media screen and (min-width: 1440px) {
    background-image: url('/src/images/scanning/scanning-process2-desk-1x.png');
  }
}

.scan-process__item:nth-of-type(3)::before {
  content: '';
  background-image: url('/src/images/scanning/scanning-process3-mob-1x.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media screen and (min-width: 768px) {
    background-image: url('/src/images/scanning/scanning-process3-tab-1x.png');
  }
  @media screen and (min-width: 1440px) {
    background-image: url('/src/images/scanning/scanning-process3-desk-1x.png');
  }
}

.scan-process__item:nth-of-type(4)::before {
  content: '';
  background-image: url('/src/images/scanning/scanning-process4-mob-1x.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media screen and (min-width: 768px) {
    background-image: url('/src/images/scanning/scanning-process4-tab-1x.png');
  }
  @media screen and (min-width: 1440px) {
    background-image: url('/src/images/scanning/scanning-process4-desk-1x.png');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .scan-process__item:nth-of-type(1)::before {
    content: '';
    background-image: url('/src/images/scanning/scanning-process1-mob-2x.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @media screen and (min-width: 768px) {
      background-image: url('/src/images/scanning/scanning-process1-tab-2x.png');
    }
    @media screen and (min-width: 1440px) {
      background-image: url('/src/images/scanning/scanning-process1-desk-2x.png');
    }
  }
  .scan-process__item:nth-of-type(2)::before {
    content: '';
    background-image: url('/src/images/scanning/scanning-process2-mob-2x.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @media screen and (min-width: 768px) {
      background-image: url('/src/images/scanning/scanning-process2-tab-2x.png');
    }
    @media screen and (min-width: 1440px) {
      background-image: url('/src/images/scanning/scanning-process2-desk-2x.png');
    }
  }
  .scan-process__item:nth-of-type(3)::before {
    content: '';
    background-image: url('/src/images/scanning/scanning-process3-mob-2x.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @media screen and (min-width: 768px) {
      background-image: url('/src/images/scanning/scanning-process3-tab-2x.png');
    }
    @media screen and (min-width: 1440px) {
      background-image: url('/src/images/scanning/scanning-process3-desk-2x.png');
    }
  }
  .scan-process__item:nth-of-type(4)::before {
    content: '';
    background-image: url('/src/images/scanning/scanning-process4-mob-2x.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @media screen and (min-width: 768px) {
      background-image: url('/src/images/scanning/scanning-process4-tab-2x.png');
    }
    @media screen and (min-width: 1440px) {
      background-image: url('/src/images/scanning/scanning-process4-desk-2x.png');
    }
  }
}

@media screen and (max-width: 767px) {
  .scan-process__figure {
    position: absolute;
    z-index: -1;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }
  .scan-process__figure-one {
    width: 74px;
    height: 74px;
    border-radius: 0px 0px 0px 35px;
    left: -37px;
    top: 108px;
  }
  .scan-process__figure-two {
    width: 74px;
    height: 74px;
    border-radius: 25px 0px;
    transform: rotate(90deg);
    right: -40px;
    top: 77px;
  }
}
