<section class="more-photo">
  <div class="container container-relative">
    <div class="decor decor__more-photo-1"></div>
    <div class="decor decor__more-photo-2"></div>
    <h2 class="more-photo__title">Більше фото</h2>
    <ul class="more-photo__list">
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-1-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-1-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-1-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-1-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/more-gallary/mobile/img-1-mob-1x-min.jpg 1x,
              ./images/more-gallary/mobile/img-1-mob-2x-min.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-1-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-2-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-2-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-2-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-2-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/more-gallary/mobile/img-2-mob-1x-min.jpg 1x,
              ./images/more-gallary/mobile/img-2-mob-2x-min.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-2-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-3-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-3-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-3-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-3-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/more-gallary/mobile/img-3-mob-1x-min.jpg 1x,
              ./images/more-gallary/mobile/img-3-mob-2x-min.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-3-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-4-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-4-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-4-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-4-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-4-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-5-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-5-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-5-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-5-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-5-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-6-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-6-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-6-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-6-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-6-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-7-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-7-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-7-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-7-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-7-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-8-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-8-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-8-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-8-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-8-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-9-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-9-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-9-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-9-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-9-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-10-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-10-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-10-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-10-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-10-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-11-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-11-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-11-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-11-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-11-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/more-gallary/desctop/img-12-desc-1x-min.jpg 1x,
              ./images/more-gallary/desctop/img-12-desc-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/more-gallary/tablet/img-12-tab-1x-min.jpg 1x,
              ./images/more-gallary/tablet/img-12-tab-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="more-photo__img"
            src="./images/more-gallary/desctop/img-12-desc-2x-min.jpg"
            alt=""
          />
        </picture>
      </li>
    </ul>
    <div class="icon-loader">
      <svg width="42px" height="42px">
        <use href="./images/icon.svg#icon-loader"></use>
      </svg>
    </div>
  </div>

  <div id="myModal" class="more-photo__modal">
    <div class="more-photo__modal--flex">
      <span class="button__close">&times;</span>
      <button type="button" class="button__left">
        <svg width="42px" height="42px" class="button-svg">
          <use href="./images/icon.svg#arrow-left"></use>
        </svg>
      </button>
      <img class="modal-content" id="img01" />
      <button type="button" class="button__right">
        <svg width="42px" height="42px" class="button-svg">
          <use href="./images/icon.svg#arrow-right"></use>
        </svg>
      </button>
      <div id="caption"></div>
    </div>
  </div>
  <script src="./more-photo.js"></script>
</section>
