<section class="modeling-methods">
  <div class="container modeling-methods__container">
    <h2 class="modeling-methods__title title">Способи створення моделі:</h2>
    <ul class="modeling-methods__list list">
      <li class="modeling-methods__item">
        <p class="modeling-methods__text text">3D сканування</p>
      </li>
      <li class="modeling-methods__item">
        <p class="modeling-methods__text text">
          На основі фотографій з доданими розмірами
        </p>
      </li>
      <li class="modeling-methods__item">
        <p class="modeling-methods__text text">За ескізами з розмірами</p>
      </li>
      <li class="modeling-methods__item">
        <p class="modeling-methods__text text">За вашим кресленням</p>
      </li>
      <li class="modeling-methods__item">
        <p class="modeling-methods__text text">
          По вже існуючому прототипу шляхом зняття розмірів
        </p>
      </li>
      <div
        class="modeling-methods__figure modeling-methods__figure-three"
      ></div>
    </ul>
    <div class="modeling-methods__image"></div>
  </div>
</section>
