<section class="modeling-create section">
  <div class="container">
    <h2 class="modeling-create__title title">
      Ми створюємо фотореалістичні зображення моделей
    </h2>
    <ul class="modeling-create__list list">
      <li class="modeling-create__item">
        <picture>
          <source
            srcset="
              ./images/modeling/modeling-realistic1-desk-1x.jpg 1x,
              ./images/modeling/modeling-realistic1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic1-tab-1x.jpg 1x,
              ./images/modeling/modeling-realistic1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic1-mob-1x.jpg 1x,
              ./images/modeling/modeling-realistic1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/modeling/modeling-realistic1-desk-1x.jpg"
            alt="Фото моделі 1"
            width="320"
            height="281"
          />
        </picture>
      </li>

      <li class="modeling-create__item">
        <picture>
          <source
            srcset="
              ./images/modeling/modeling-realistic2-desk-1x.jpg 1x,
              ./images/modeling/modeling-realistic2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic2-tab-1x.jpg 1x,
              ./images/modeling/modeling-realistic2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic2-mob-1x.jpg 1x,
              ./images/modeling/modeling-realistic2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/modeling/modeling-realistic2-desk-1x.jpg"
            alt="Фото моделі 2"
            width="320"
            height="281"
          />
        </picture>
      </li>

      <li class="modeling-create__item">
        <picture>
          <source
            srcset="
              ./images/modeling/modeling-realistic3-desk-1x.jpg 1x,
              ./images/modeling/modeling-realistic3-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic3-tab-1x.jpg 1x,
              ./images/modeling/modeling-realistic3-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic3-mob-1x.jpg 1x,
              ./images/modeling/modeling-realistic3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/modeling/modeling-realistic3-desk-1x.jpg"
            alt="Фото моделі 3"
            width="320"
            height="281"
          />
        </picture>
      </li>
      <li class="modeling-create__item">
        <picture>
          <source
            srcset="
              ./images/modeling/modeling-realistic4-desk-1x.jpg 1x,
              ./images/modeling/modeling-realistic4-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic4-tab-1x.jpg 1x,
              ./images/modeling/modeling-realistic4-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/modeling/modeling-realistic4-mob-1x.jpg 1x,
              ./images/modeling/modeling-realistic4-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/modeling/modeling-realistic4-desk-1x.jpg"
            alt="Фото моделі 4"
            width="320"
            height="281"
          />
        </picture>
      </li>
    </ul>
    <a href="./take-order.html" class="modeling-create__button button"
      >Зробити замовлення</a
    >
  </div>
</section>
