<section class="gallary" id="gallary">
  <div class="container container-relative">
    <div class="decor decor-gallary-1"></div>
    <div class="decor decor-gallary-2"></div>
    <div class="gallary__wrapper">
      <h2 class="gallary__title">ГАЛЕРЕЯ</h2>

      <ul class="gallary__list">
        <li class="gallary__item">
          <a href="#" class="gallary__link">
            <div class="gallary__thumb">
              <picture>
                <source
                  srcset="
                    ./images/main/gallary/desctop/img-1-desc-1x-min.jpg 1x,
                    ./images/main/gallary/desctop/img-1-desc-2x-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/tablet/img-1-tab-1x-min.jpg 1x,
                    ./images/main/gallary/tablet/img-1-tab-1x-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/mobile/img-1-mob-1x-min.jpg 1x,
                    ./images/main/gallary/mobile/img-1-mob-1x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/gallary/desctop/img-1-desc-1x-min.jpg"
                  alt="Інженерні методи аналізу та контролю якості"
                  width="555"
                  height="202"
                  class="gallary__img"
                />
              </picture>
            </div>
            <h3 class="gallary__text">
              Інженерні методи аналізу та контролю якості
            </h3>
          </a>
        </li>
        <li class="gallary__item">
          <div class="decor decor-gallary__mob-2"></div>
          <div class="decor decor-gallary__mob-3"></div>
          <a href="#" class="gallary__link">
            <div class="gallary__thumb">
              <picture>
                <source
                  srcset="
                    ./images/main/gallary/desctop/img-2-desc-1x-min.jpg 1x,
                    ./images/main/gallary/desctop/img-2-desc-2x-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/tablet/img-2-tab-1x-min.jpg 1x,
                    ./images/main/gallary/tablet/img-2-tab-1x-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/mobile/img-2-mob-1x-min.jpg 1x,
                    ./images/main/gallary/mobile/img-2-mob-1x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/gallary/desctop/img-2-desc-1x-min.jpg"
                  alt="Інженерні методи аналізу та контролю якості"
                  class="gallary__img"
                  width="555"
                  height="202"
                />
              </picture>
            </div>
            <h3 class="gallary__text">Високоточне 3D сканування</h3>
          </a>
        </li>
        <li class="gallary__item">
          <a href="#" class="gallary__link">
            <div class="gallary__thumb">
              <picture>
                <source
                  srcset="
                    ./images/main/gallary/desctop/img-3-desc-1x-min.jpg 1x,
                    ./images/main/gallary/desctop/img-3-desc-2x-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/tablet/img-3-tab-1x-min.jpg 1x,
                    ./images/main/gallary/tablet/img-3-tab-1x-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/mobile/img-3-mob-1x-min.jpg 1x,
                    ./images/main/gallary/mobile/img-3-mob-1x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/gallary/desctop/img-3-desc-1x-min.jpg"
                  alt="Інженерні методи аналізу та контролю якості"
                  width="555"
                  height="202"
                  class="gallary__img"
                />
              </picture>
            </div>
            <h3 class="gallary__text">
              Створення точної копії на базі сканування reverse engineering
            </h3>
          </a>
        </li>
        <li class="gallary__item">
          <div class="decor decor-gallary__mob-4"></div>
          <a href="#" class="gallary__link">
            <div class="gallary__thumb">
              <picture>
                <source
                  srcset="
                    ./images/main/gallary/desctop/img-4-desc-1x-min.jpg 1x,
                    ./images/main/gallary/desctop/img-4-desc-2x-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/tablet/img-4-tab-1x-min.jpg 1x,
                    ./images/main/gallary/tablet/img-4-tab-1x-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/gallary/mobile/img-4-mob-1x-min.jpg 1x,
                    ./images/main/gallary/mobile/img-4-mob-1x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/gallary/desctop/img-4-desc-1x-min.jpg"
                  alt="Інженерні методи аналізу та контролю якості"
                  width="555"
                  height="202"
                  class="gallary__img"
                />
              </picture>
            </div>
            <h3 class="gallary__text">
              Всі цикли 3D проектування, створення фотореалістичних цифрових
              моделей
            </h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
