<section class="section-hero">
  <div class="container container-relative">
    <div class="decor decor-hero__mob-1"></div>
    <div class="decor decor-hero__block-1"></div>
    <div class="decor decor-hero__block-2">
      <a href="#gallary" class="section-hero__link-down">
        <img
          class="section-hero__icon"
          src="./images/main/icon/arrow-up.svg"
          alt="arrow-down"
        />
      </a>
    </div>
    <div class="decor decor-hero__block-3"></div>
    <div class="decor decor-hero__block-4">
      <div class="decor decor-hero__block-5"></div>
    </div>
    <div class="section-hero__content">
      <h1 class="section-hero__title">
        <span>Інженерна,</span><span>конструкторська</span>
        <span>та дизайнерська робота</span>
      </h1>
      <ul class="section-hero__list">
        <li class="section-hero__item">
          <picture>
            <source
              srcset="
                ./images/main/hero/desctop/img-1-desc-1x-min.jpg 1x,
                ./images/main/hero/desctop/img-1-desc-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/main/hero/tablet/img-1-tab-1x-min.jpg 1x,
                ./images/main/hero/tablet/img-1-tab-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./images/main/hero/mobile/img-1-mob-1x-min.jpg 1x,
                ./images/main/hero/mobile/img-1-mob-2x-min.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/main/hero/desctop/img-1-desc-1x-min.jpg"
              alt="модель робота"
              class="hero__img"
              width="203px"
              height="203px"
            />
          </picture>
        </li>
        <li class="section-hero__item">
          <picture>
            <source
              srcset="
                ./images/main/hero/desctop/img-2-desc-1x-min.jpg 1x,
                ./images/main/hero/desctop/img-2-desc-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/main/hero/tablet/img-2-tab-1x-min.jpg 1x,
                ./images/main/hero/tablet/img-2-tab-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./images/main/hero/mobile/img-2-mob-1x-min.jpg 1x,
                ./images/main/hero/mobile/img-2-mob-2x-min.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/main/hero/desctop/img-2-desc-1x-min.jpg"
              alt="дві настільні лампи"
              class="hero__img"
              width="203px"
              height="203px"
            />
          </picture>
        </li>
        <li class="section-hero__item">
          <picture>
            <source
              srcset="
                ./images/main/hero/desctop/img-3-desc-1x-min.jpg 1x,
                ./images/main/hero/desctop/img-3-desc-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/main/hero/tablet/img-3-tab-1x-min.jpg 1x,
                ./images/main/hero/tablet/img-3-tab-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./images/main/hero/mobile/img-3-mob-1x-min.jpg 1x,
                ./images/main/hero/mobile/img-3-mob-2x-min.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/main/hero/desctop/img-3-desc-1x-min.jpg"
              alt="дві настільні лампи"
              class="hero__img"
              width="203px"
              height="203px"
            />
          </picture>
        </li>
      </ul>
      <p class="section-hero__text">Ми втілюємо ідеї в реальність</p>
    </div>
  </div>
</section>
