<section class="process-description section">
    <div class="process-description__container container">
        <h2 class="visually-hidden">ДРУК</h2>
        <ul class="model-list list">
            <li class="model-list__item">
                <div class="model-list__wrap">
                    <picture>
                        <source
                            srcset="
                                ./images/printing/process1-desk-1x.jpg 1x,
                                ./images/printing/process1-desk-2x.jpg 2x 
                            "
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="
                                ./images/printing/process1-tab-1x.jpg 1x,
                                ./images/printing/process1-tab-2x.jpg 2x 
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/printing/process1-mob-1x.jpg 1x,
                                ./images/printing/process1-mob-2x.jpg 2x 
                            "
                            media="(max-width: 767px)"
                        />
                        <img 
                            src="./images/printing/process1-mob-1x.jpg" 
                            alt="team-1" 
                        />
                    </picture>  
                </div>
                <div class="model-list__content">
                    <p class="model-list__text text"><span class="accent">3D-друк</span> - ми використовуємо <span class="bold">FDM</span> технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою <span class="bold">3D</span> принтера.
                    </p>
                    <p class="model-list__text text">Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого проектування.
                    </p>
                    <p class="model-list__text text"><span class="bold">3D</span>-друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.
                    </p>
                    <a href="./take-order.html" class="model-list__button button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
                </div>
            </li>
            <li class="model-list__item">
                <div class="model-list__wrap">
                    <picture>
                        <source
                            srcset="
                                ./images/printing/process2-desk-1x.jpg 1x,
                                ./images/printing/process2-desk-2x.jpg 2x 
                            "
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="
                                ./images/printing/process2-tab-1x.jpg 1x,
                                ./images/printing/process2-tab-2x.jpg 2x 
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/printing/process2-mob-1x.jpg 1x,
                                ./images/printing/process2-mob-2x.jpg 2x 
                            "
                            media="(max-width: 767px)"
                        />
                        <img 
                            src="./images/printing/process2-mob-1x.jpg" 
                            alt="team-1" 
                        />
                    </picture>  
                </div>
                <div class="model-list__content">
                    <p class="model-list__text text"><span class="accent">3D-моделювання</span> - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
                        спеціалізованого програмного забезпечення. 
                    </p>
                    <p class="model-list__text text">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
                    </p>
                    <p class="model-list__text text">Розуміючи специфіку <span class="bold">3D</span> друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.
                    </p>
                    <a href="./take-order.html" class="model-list__button button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
                </div>
            </li>
            <li class="model-list__item">
                <div class="model-list__wrap">
                    <picture>
                        <source
                            srcset="
                                ./images/printing/process3-desk-1x.jpg 1x,
                                ./images/printing/process3-desk-2x.jpg 2x 
                            "
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="
                                ./images/printing/process3-tab-1x.jpg 1x,
                                ./images/printing/process3-tab-2x.jpg 2x 
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/printing/process3-mob-1x.jpg 1x,
                                ./images/printing/process3-mob-2x.jpg 2x 
                            "
                            media="(max-width: 767px)"
                        />
                        <img 
                            src="./images/printing/process3-mob-1x.jpg" 
                            alt="team-1" 
                        />
                    </picture>  
                </div>
                <div class="model-list__content">
                    <p class="model-list__text text "><span class="accent">3D-сканування</span> - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її <span class="bold">3D</span>-моделі.
                    </p>
                    <p class="model-list__text text ">Це універсальний інструмент, який дозволяє отримати як і просто <span class="bold">3D</span>-модель для візуалізації в цифровому вигляді, так і <span class="bold">3D</span>-модель для подальшого її друку на <span class="bold">3D</span>-принтері.
                    </p>
                    <a href="./take-order.html" class="model-list__button button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
                </div>
            </li>
        </ul>
        <div class="process-description__figure process-description__figure-one"></div>
        <div class="process-description__figure process-description__figure-two"></div>
        <div class="process-description__figure process-description__figure-three"></div>
        <div class="process-description__figure process-description__figure-four"></div>
    </div>
</section>