<section class="model-exsamples section">
    <div class="model-exsamples__container container">
        <h2 class="model-exsamples__title title">МИ СТВОРЮЄМО</h2>
        <ul class="card-list list">
            <li class="card-list__item">
                <div class="card-list__wrap">
                     <div class="card-list__first">
                        <picture>
                        <source
                            srcset="
                                ./images/printing/model1-desk-1x.png 1x,
                                ./images/printing/model1-desk-2x.png 2x 
                            "
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="
                                ./images/printing/model1-tab-1x.png 1x,
                                ./images/printing/model1-tab-2x.png 2x 
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/printing/model1-mob-1x.png 1x,
                                ./images/printing/model1-mob-2x.png 2x 
                            "
                            media="(max-width: 767px)"
                        />
                        <img 
                            src="./images/printing/model1-mob-1x.png" 
                            alt="model" 
                        />
                        </picture> 
                     </div>
                     <h3 class="card-list__title">ДЕКОР</h3>
                </div>
            </li>
            <li class="card-list__item">
                <div class="card-list__wrap">
                     <div class="card-list__second">
                        <picture>
                            <source
                                srcset="
                                    ./images/printing/model2-desk-1x.png 1x,
                                    ./images/printing/model2-desk-2x.png 2x 
                                "
                                media="(min-width: 1440px)"
                            />
                            <source
                                srcset="
                                    ./images/printing/model2-tab-1x.png 1x,
                                    ./images/printing/model2-tab-2x.png 2x 
                                "
                                media="(min-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/printing/model2-tab-1x.png 1x,
                                    ./images/printing/model2-tab-2x.png 2x 
                                "
                                media="(max-width: 767px)"
                            />
                            <img 
                                src="./images/printing/model2-tab-1x.png" 
                                alt="layout" 
                            />
                        </picture>   
                     </div>
                     <h3 class="card-list__title">МАКЕТИ</h3>
                </div>
            </li>
            <li class="card-list__item">
                <div class="card-list__wrap">
                    <div class="card-list__third">
                    <picture>
                        <source
                            srcset="
                                ./images/printing/model3-desk-1x.png 1x,
                                ./images/printing/model3-desk-2x.png 2x 
                            "
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="
                                ./images/printing/model3-tab-1x.png 1x,
                                ./images/printing/model3-tab-2x.png 2x 
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/printing/model3-mob-1x.png 1x,
                                ./images/printing/model3-mob-2x.png 2x 
                            "
                            media="(max-width: 767px)"
                        />
                        <img 
                            src="./images/printing/model3-mob-1x.png" 
                            alt="vase" 
                        />
                    </picture>
                    </div>
                    <h3 class="card-list__title">ПРОТОТИПИ</h3>
                </div>
            </li>
            <li class="card-list__item">
                <div class="card-list__wrap">
                    <div class="card-list__fourth">
                         <picture>
                        <source
                            srcset="
                                ./images/printing/model4-desk-1x.png 1x,
                                ./images/printing/model4-desk-2x.png 2x 
                            "
                            media="(min-width: 1440px)"
                        />
                        <source
                            srcset="
                                ./images/printing/model4-tab-1x.png 1x,
                                ./images/printing/model4-tab-2x.png 2x 
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/printing/model4-mob-1x.png 1x,
                                ./images/printing/model4-mob-2x.png 2x 
                            "
                            media="(max-width: 767px)"
                        />
                        <img 
                            src="./images/printing/model4-mob-1x.png" 
                            alt="logo" 
                        />
                         </picture> 
                    </div>
                    <h3 class="card-list__title">КОРПОРАТИВНИЙ ДИЗАЙН</h3>
                </div>
            </li>
        </ul>
        <div class="model-exsamples__figure model-exsamples__figure-one"></div>
        <div class="model-exsamples__figure model-exsamples__figure-two"></div>
    </div>
</section>